<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Description</key>
	<string>API</string>
	<key>Summary</key>
	<string>API</string>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>camelcaseApiName</string>
			<key>Name</key>
			<string>Camel Cased Api Name</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>main</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>apiName</string>
			<key>Name</key>
			<string>Api Name</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Main</string>
		</dict>
	</array>
</dict>
</plist>
