<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportsSwiftPackage</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>ViewController Template</string>
	<key>Summary</key>
	<string>ViewController Template</string>
	<key>SortOrder</key>
	<string>1</string>
	<key>DefaultCompletionName</key>
	<string>ViewControllerName</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___ViewController.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>ViewController: </string>
			<key>Description</key>
			<string>The name of the ViewController to create</string>
			<key>Type</key>
			<string>text</string>
			<key>NotPersisted</key>
			<true/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>storyboardName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Storyboard: </string>
			<key>Description</key>
			<string>The name of the Storyboard viewController is included</string>
			<key>Type</key>
			<string>popup</string>
			<key>NotPersisted</key>
			<true/>
			<key>Values</key>
			<array>
				<string>Main</string>
				<string>Onboard</string>
				<string>Home</string>
				<string>Search</string>
				<string>Mypage</string>
				<string>Common</string>
				<string>Catalog</string>
				<string>Scrap</string>
				<string>Popup</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
